#main_content, h1, h2, h2, h4, a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
#footer_wrap { text-align: center; }
#header_image {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 0;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 480px) {
    #header_image { object-fit: contain; height: fit-content;}
}
@media screen {
    #main_content_wrap { background-color: #212121; border: 0; }
    .inner { max-width: 1500px; }
    #header_wrap { margin: 0; padding: 0; }
    a { font-weight: bold; }
    h1, h2, h3 {
        background: -webkit-linear-gradient(#eee, #333);
        letter-spacing: .05em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #c1c1c186;
    }
}
@media print {
    * { color: #000 !important; }
    #header_wrap, #header_image { display: none !important; }
}
