<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">

    <title>TextOFX</title>
    <meta name="description" content="Advanced text generator for motion graphics and VFX software.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://text.openfx.no/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TextOFX">
    <meta property="og:description" content="Advanced text generator for motion graphics and VFX software.">
    <meta property="og:image" content="https://text.openfx.no/assets/images/textofx-header-001.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="text.openfx.no">
    <meta property="twitter:url" content="https://text.openfx.no/">
    <meta name="twitter:title" content="TextOFX">
    <meta name="twitter:description" content="Advanced text generator for motion graphics and VFX software.">
    <meta name="twitter:image" content="https://text.openfx.no/assets/images/textofx-header-001.jpg">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/textofx.css">
  </head>
  <body>
    <div id="header_wrap" class="outer">
      <img id="header_image" src="/assets/images/textofx-header-001.jpg">
    </div>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Copyright &copy; 2022 Ole-André Rodlie. All rights reserved.<br>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
